<ion-header  (swipe)="swipeEvent($event)">
  <ion-navbar color="navbar">
      <ion-title>
        <ion-icon name="barcode"></ion-icon>
        Mes Billets
      </ion-title>
      <ion-buttons end>
      <button (click)="addClicked()" ion-button icon-only>
        <ion-icon name="add-circle" color="white"></ion-icon>
      </button>
    </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding  (swipe)="swipeEvent($event)">
  <ion-list *ngIf="tickets.length > 0">
      <ion-card *ngFor="let ticket of tickets" >
          <ion-item>
            {{ ticket.name }} {{ ticket.firstName }} <br>
            {{ ticket.mail }}
          </ion-item>
        
          <ion-card-content>
            Place pour la R2D
            <div *ngFor="let option of ticket.options">
              <div *ngIf="option.qty === true || option.qty === false">
                - {{ option.name }}
              </div>
              <div *ngIf="option.qty !== true && option.qty !== false">
                - {{ option.name }} : {{ option.qty }}
              </div>
            </div>
            <ion-spinner *ngIf="!ticket.isPaid"></ion-spinner>
            <div *ngIf="!ticket.isPaid">(En attente de validation de la billetterie ...)</div>
          </ion-card-content>
        
          <ion-row>
            <ion-col>
              <button *ngIf="ticket.isPaid" ion-button icon-start clear (click)="ticketDetails(ticket)">
                <ion-icon name="eye"></ion-icon>
                <div>voir</div>
              </button>
            </ion-col>
            <ion-col style="text-align: right">
              <button ion-button icon-start clear color="danger" (click)="deleteTicket(ticket)">
                <ion-icon name="trash"></ion-icon>
              </button>
            </ion-col>
          </ion-row>
      </ion-card>
  </ion-list>
  <div *ngIf="tickets.length === 0">
    <ion-card>
      <ion-card-content>
        <ion-label text-wrap class="empty">Vous n'avez pas de billet, vous pouvez en acheter un avec le bouton ci-dessous, ou en ajouter un déjà acheté avec le bouton +</ion-label>
      </ion-card-content>
    </ion-card>
    <button ion-button color="primary" (click) = "goToBilleterie()" round full class="place">Acheter des places</button>
  </div>
</ion-content>



<ion-footer *ngIf="tickets.length > 0">
  <button ion-button color="primary" (click) = "goToBilleterie()" round full class="place">Acheter des places</button>
</ion-footer>