<ion-header  (swipe)="swipeEvent($event)">
  <ion-navbar color="navbar">
      <ion-title>
        <ion-icon name="barcode"></ion-icon>
        Billets
      </ion-title>
      <ion-buttons end>
      <button (click)="addClicked()" ion-button icon-only>
        <ion-icon class="addIcon" name="add-circle" color="white"></ion-icon>
      </button>
    </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding  (swipe)="swipeEvent($event)">
  <div *ngIf="!isEmpty(tickets)">
      <button *ngFor="let ticket of tickets" (click)="goToDetails(ticket);" color="primary" ion-button full>
          {{ticket.surname}} {{ticket.name}}
      </button>
  </div>
  <div *ngIf="isEmpty(tickets)">
    <ion-card>
      <ion-card-content>
        <ion-label text-wrap class="empty">Vous n'avez pas de billet, vous pouvez en ajouter un en cliquant sur le bouton +. Si vous n'avez pas encore de billet à ajouter, vous pouvez en acheter un ici :</ion-label>
      </ion-card-content>
    </ion-card>
    <button ion-button color="primary" (click) = "goToBilleterie();" round full class="place">Prendre sa place</button>
  </div>
</ion-content>



<ion-footer *ngIf="!isEmpty(tickets)">
  <button ion-button color="primary" (click) = "goToBilleterie();" round full class="place">Prendre sa place</button>
</ion-footer>