<ion-header  (swipe)="swipeEvent($event)">
  <ion-navbar color="navbar">
      <ion-title>
        <ion-icon name="barcode"></ion-icon>
        {{ ticket.surname }} {{ ticket.name }}
      </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding  (swipe)="swipeEvent($event)">
  <ion-card><ion-card-content style="text-align: center">{{ ticket.mail }}</ion-card-content></ion-card>
  <ion-card>
    <ngx-qrcode [qrc-value]="ticket.qrcode"></ngx-qrcode>
  </ion-card>

  <ion-list>
    <ion-item style="text-align: center">{{ ticket.qrcode }}</ion-item>
    <div *ngFor="let option of ticket.options">
      <ion-item *ngIf="option.qty === true || option.qty === false">{{ option.name }}</ion-item>
      <ion-item *ngIf="option.qty !== true && option.qty !== false">{{ option.name }} : {{ option.qty }}</ion-item>
    </div>
  </ion-list>
</ion-content>
